RewriteEngine On

# Si le fichier ou le dossier demandé existe réellement, on y accède directement (images, CSS, JS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on renvoie tout vers index.php en passant l'URL nettoyée dans une variable "url"
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
